<!DOCTYPE html>
<html>
<head>
	<title>Kika</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../../../../public/frontend/assets/css/fontawesome.min.css" rel="stylesheet" >
	<link href="../../../../public/frontend/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../../../public/frontend/assets/css/all.min.css" rel="stylesheet">
	<link href="../../../../public/frontend/assets/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Header Start -->
<nav class="navbar navbar-expand-lg navbar-light bg-white my-3 header-part">
	<div class="container-fluid">
		<a href="http://demo.vpninfotech.com/kika_frontend"><img src="../../../../public/frontend/assets/images/LOGO/logo.png" /></a>
	<!--<a class="navbar-brand" href="#">Kika</a>-->
	<button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
	</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0 mx-5 ">

			<li class="nav-item dropdown">
  				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Product Demo</a>
  				    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			            <li><a class="dropdown-item" href="http://demo.vpninfotech.com/kika_frontend/uplift_video.html">Uplift Video</a></li>
			            <li><a class="dropdown-item" href="http://demo.vpninfotech.com/kika_frontend/delivery_video.html">Delivery Video</a></li>
			            <li><a class="dropdown-item" href="http://demo.vpninfotech.com/kika_frontend/screen_video.html">Screen Video</a></li>
			            <li><a class="dropdown-item" href="http://demo.vpninfotech.com/kika_frontend/tranship_video.html">Tranship Video</a></li>
			            <li><a class="dropdown-item" href="http://demo.vpninfotech.com/kika_frontend/paper_inventory_delivery_outturn_video.html">Paper Inventory - Delivery Outturn Video</a></li>
			            <li><a class="dropdown-item" href="http://demo.vpninfotech.com/kika_frontend/paper_inventory_screen_tranship_video.html">Paper Inventory - Screen/Tranship Video</a></li>
			            <li><a class="dropdown-item active" href="http://demo.vpninfotech.com/kika_frontend/uplift_tutoria_video.html">Uplift Tutorial Video
</a></li>
					</ul>
			</li>
			<li class="nav-item dropdown">
  				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pricing</a>
  				    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			            <li><a class="dropdown-item pricing_mobility" href="http://demo.vpninfotech.com/kika_frontend/kika_pricing_plans.html#mobility">Mobility</a></li>
                        <li><a class="dropdown-item pricing_moving" href="http://demo.vpninfotech.com/kika_frontend/kika_pricing_plans.html#moving">Moving Company</a></li>
                        <li><a class="dropdown-item pricing_contractor" href="http://demo.vpninfotech.com/kika_frontend/kika_pricing_plans.html#contractor">Sub Contractor</a></li>
					</ul>
			</li>
			<li class="nav-item dropdown">
  				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Docs & Guides
  				</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			            <li><a class="dropdown-item" href="http://demo.vpninfotech.com/kika_frontend/implementing_kika.html">Implementing Kika</a></li>
			            <li><a class="dropdown-item" href="http://demo.vpninfotech.com/kika_frontend/maximising_subscription.html">Getting the best out of Kika</a></li>
			            <li><a class="dropdown-item" href="./pdf/Kika User Guide - Application .pdf" target="_blank">Kika Tablet Application User Guide</a></li>
                        <li><a class="dropdown-item" href="#">Kika Management System User Guide</a></li>
					</ul>
			</li>
			<li class="nav-item">
  				<a class="nav-link" href="http://demo.vpninfotech.com/kika_frontend/about-us.html">About Us</a>
	        </li>
	        <li class="nav-item">
	          	<a class="nav-link" href="mailto:leticia@kikamoving.com">Contact</a>
	        </li>
			</ul>
			<form class="d-flex d-xs-block header-right-part">
			<!--	<ul class="navbar-nav mb-lg-0 mb-2 mt-1">-->
  	<!--			<li class="nav-item">-->
   <!--   				<a class="nav-link" href="https://www.kikamoving.com/admin/login">Login</a>-->
   <!-- 			</li>-->
			<!--</ul>-->
			<a class="btn rounded-pill p-2 header-start-trial shadow-none" href="https://www.kikamoving.com/admin/login" type="submit">Login </a>
			</form>
		</div>
	</div>
</nav>
<!-- Header End -->

<!-- Main Start -->
<div class="product_uplift">
<!-- Uplift Start -->
    <div class="container-fuid py-5 px-5 uplift-main-part">
    	<div class="container py-5 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-0 px-xs-0 text-center uplift-video-section">
    		<div class="row">
    		    <div class="col">
    	            <h1 class="text-dark mb-5 uplift-tutorial-text">Uplift Tutorial Video</h1>
    		        <div class="embed-responsive embed-responsive-16by9 mb-5">
                        <iframe width="727" height="409" src="https://www.youtube.com/embed/jJ4TZm8wb-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                     <div>
                        <a href="#" class="uplift-pdf">Uplift Inventory pdf file</a>
                     </div>
                     <div>
                        <a href="#" class="uplift-pdf">Overflow Inventory pdf file</a>
                     </div>
    		    </div>
    		</div>
    	</div>
    </div>
<!-- Uplift End -->
<!-- Section start -->
    <div class="container uplift-section-2">
        <div class="row mt-5 mb-5">
            <div class="col">
                <!--<h2 class="text-dark mb-3">Dummy Content</h2>-->
                <ul>
                    <li>Purpose of this video is to show the workflow in creating an inventory only. The <a href="http://demo.vpninfotech.com/kika_frontend/uplift_tutoria_video.html">Uplift Tutorial Video</a> shows you how to create an inventory.</li>
                    <li>The video also shows you how to manage overflow items.</li>
                    <li>Application User Guide is available here.</li>
                </ul>
            </div>
        </div>
    </div>
<!-- Section End -->
<!-- Get started section start-->
    <div class="container-fluid py-5 px-5 px-xs-2 about-get-started">
        <div class="container">
        	<div class="row align-items-center px-5 py-3 about-started-row-part">
        	    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 about-started-col-part mb-lg-0 mb-5">
        	      <h1 class="text-white mb-4">Get Started Today !</h1>
        	      <p class=" text-white text-secondary mb-4">Experience the magic for yourself. Sign up for 
                    your 60 day free trial (no credit card required)</p>
        	      <a class="btn rounded-pill p-2 get-about-start-trial fw-bold mb-3 shadow-none" href="https://www.kikamoving.com/company-admin/register/step-1" type="submit">Start Free 30 Day Trail </a>
        	    </div>
        	    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 about-started-col-part2 text-md-center text-sm-center">
        	      <img src="./assets/images/Jacob.png" alt="">
        	    </div>
        	</div>
    	</div>
    </div>
<!-- Get started section end-->
</div>
<!-- Main End -->
<!-- Footer Start -->
<div class="footer">
	<div class="container-fluid">
		<div class="row py-5 footer-row">
		   	<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-md-3 mb-sm-3 mb-3">
		      	<h5 class="mb-2 mb-md-2 mb-sm-2">Product Demo</h5>
		      	<ul class="ps-0">
    		      	<li class="mb-0"><a href="http://demo.vpninfotech.com/kika_frontend/uplift_video.html">Uplift Video</a></li>
    		      	<li class="mb-0"><a href="http://demo.vpninfotech.com/kika_frontend/delivery_video.html">Delivery Video</a></li>
    		      	<li class="mb-0"><a href="http://demo.vpninfotech.com/kika_frontend/screen_video.html">Screen Video</a></li>
    		      	<li class="mb-0"><a href="http://demo.vpninfotech.com/kika_frontend/tranship_video.html">Tranship Video</a></li>
    		      	<li class="mb-0"><a href="http://demo.vpninfotech.com/kika_frontend/paper_inventory_delivery_outturn_video.html">Paper Inventory - Delivery Outturn Video</a></li>
    		      	<li class="mb-0"><a href="http://demo.vpninfotech.com/kika_frontend/paper_inventory_screen_tranship_video.html">Paper Inventory - Screen/Tranship Video</a></li>
    		      	<li class="mb-0"><a href="http://demo.vpninfotech.com/kika_frontend/uplift_tutoria_video.html">Uplift Tutorial Video</a></li>
		      	</ul>
		    </div>
		    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12 mb-3">
		      	<h5 class="mb-2 mb-md-2 mb-sm-2">Pricing</h5>
		      	<ul class="ps-0">
    		      	<li class="mb-0"><a href="http://demo.vpninfotech.com/kika_frontend/kika_pricing_plans.html#mobility" class="pricing_mobility">Mobility</a></li>
                  	<li class="mb-0"><a href="http://demo.vpninfotech.com/kika_frontend/kika_pricing_plans.html#moving" class="pricing_moving">Moving Company</a></li>
                  	<li class="mb-0"><a href="http://demo.vpninfotech.com/kika_frontend/kika_pricing_plans.html#contractor" class="pricing_contractor">Sub Contractor</a></li>
		      	</ul>
		    </div>
		    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-md-3 mb-sm-3 mb-3">
		      	<h5 class="mb-2 mb-md-2 mb-sm-2">Docs & Guides</h5>
		      	<ul class="ps-0">
    		      	<li class="mb-0"><a href="http://demo.vpninfotech.com/kika_frontend/implementing_kika.html">Implementing Kika</a></li>
    		      	<li class="mb-0"><a href="http://demo.vpninfotech.com/kika_frontend/maximising_subscription.html">Getting the best out of Kika</a></li>
                    <li class="mb-0"><a href="./pdf/Kika User Guide - Application .pdf" target="_blank">Kika Tablet Application User Guide</a></li>
                    <li class="mb-0"><a href="#">Kika Management System User Guide</a></li>
		      	</ul>
		    </div>
		    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12 mb-3">
		      	<h5 class="mb-2 mb-md-2 mb-sm-2">About Us</h5>
		      	<ul class="ps-0">
		      	    <li class="mb-0"><a href="http://demo.vpninfotech.com/kika_frontend/about-us.html">Letter from Damien</a></li>
		      	</ul>
		    </div>
		    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12 mb-md-3 mb-sm-3">
		      	<h5 class="mb-2 mb-md-2 mb-sm-2">Contact</h5>
		      	<ul class="ps-0">
    		      	<li class="mb-0"><a href="mailto:leticia@kikamoving.com">Email</a></li>
    		      	<li class="mb-0"><a href="#">Facebook</a></li>
    		      	<li class="mb-0"><a href="#">Facebook</a></li>
    		    </ul>
		    </div>
	  	</div>
		<hr class="bg-danger border-2 border-top border-secondary">
		<div class="row">
			<div class="col px-3">
		      	<p class="text-secondary">Copyright 2022 Kika Moving Pty Ltd. All Rights Reserved</p>
		    </div>
	    </div>
	</div>
</div>
<!-- Footer End -->
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/all.min.js"></script>
<script src="./assets/js/fontawesome.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script> 
<script src="./assets/js/custom.js"></script>
</body>
</html>